* {
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.countryCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid lightgrey;
    flex-grow: 1;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    font-weight: bold;
}

.cardImage {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

#searchID {
    margin-inline: 100px;
    height: 30px;
    padding: 10px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 20px;
}